[Unit]
Description=Display Pi-hole and system information on an OLED screen via I2C
Requires=network.target

[Service]
Type=simple
User=pi
Group=sudo

WorkingDirectory=/home/pi/PiHole-UI
ExecStart=/usr/bin/python3 -u /home/pi/PiHole-UI/dual-test.py

Restart=always

[Install]
WantedBy=multi-user.target
