[Unit]
Description=Display Pi-hole and system information on an OLED screen via I2C
Requires=network.target

[Service]
Type=simple
User=dorian
Group=sudo

WorkingDirectory=/home/dorian/PiHole-UI
ExecStart=/usr/bin/python3 -u /home/dorian/PiHole-UI/main.py

Restart=always

[Install]
WantedBy=multi-user.target
